<a href="https://colab.research.google.com/github/MINJEONG-L/Big_leader_pj/blob/main/Untitled38.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

df = pd.read_csv("워크넷 채용정보 (20,101800) (1).csv",encoding='cp949')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.head()

In [ ]:
df.shape

In [13]:
df.columns

Index(['구인인증번호', '회사명', '사업자등록번호', '채용제목', '임금형태', '급여', '최소임금액', '최대임금액',
       '근무지역', '근무형태', '최소학력', '최대학력', '경력', '등록일자', '마감일자', '정보제공처',
       '워크넷 채용정보 URL', '워크넷 모바일 채용정보 URL', '근무지 우편주소', '근무지 도로명주소', '근무지 기본주소',
       '근무지 상세주소', '고용형태코드', '직종코드', '최종수정일'],
      dtype='object')

In [14]:
df.isnull().sum()

구인인증번호                   0
회사명                      0
사업자등록번호             101874
채용제목                     0
임금형태                     0
급여                       0
최소임금액                    0
최대임금액                    0
근무지역                     0
근무형태                  2983
최소학력                     0
최대학력                 80949
경력                       0
등록일자                     0
마감일자                     0
정보제공처                    0
워크넷 채용정보 URL         36344
워크넷 모바일 채용정보 URL    101874
근무지 우편주소                 0
근무지 도로명주소                1
근무지 기본주소                 0
근무지 상세주소             28447
고용형태코드                   0
직종코드                     0
최종수정일                    0
dtype: int64

In [ ]:


for i in range(len(df)):
  df['근무지 기본주소'] = df['근무지 기본주소'][i].str.split(" ")[0]

AttributeError: ignored

In [ ]:
df_chong = df[df['근무지 기본주소'].split(" ")[0] == '충청북도']

AttributeError: ignored

In [15]:
li = df['근무지 기본주소']
li = li[:-1]
li = li.str.split(" ")
for i in range(len(li)):
  li[i] = li[i][0]
print(li)
for i in range(len(li)):
  df['ischong'] = 0

0             경기도
1             경기도
2             경기도
3           대전광역시
4             경기도
           ...
101868       충청남도
101869        경기도
101870       전라남도
101871      서울특별시
101872    제주특별자치도
Name: 근무지 기본주소, Length: 101873, dtype: object

In [16]:
df.ischong

0         0
1         0
2         0
3         0
4         0
         ..
101869    0
101870    0
101871    0
101872    0
101873    0
Name: ischong, Length: 101874, dtype: int64

In [18]:
df['space'] = li

In [19]:
df

,구인인증번호,회사명,사업자등록번호,채용제목,임금형태,급여,최소임금액,최대임금액,근무지역,근무형태,...,워크넷 모바일 채용정보 URL,근무지 우편주소,근무지 도로명주소,근무지 기본주소,근무지 상세주소,고용형태코드,직종코드,최종수정일,ischong,space
0,K151822207290042,연우팩토리,NaN,미싱사 보조원 (시다) 모십니다.,연봉,2700만원,27000000,0,경기 파주시,주5일근무,...,NaN,10908,4.148030e+11,경기도 파주시 경의로 1100,6층 605호,10,890004,202207291908,0,경기도
1,K151822207290041,(주)조민,NaN,"(주)조민 생산직 경력무관 사원 채용(코팅,톰슨)",연봉,2800만원 ~ 3200만원,28000000,32000000,경기 파주시,주5일근무,...,NaN,10945,4.148044e+11,경기도 파주시 월롱면 통일로644번길 57,(주)조민,10,882300,202207291907,0,경기도
2,K151822207290040,(주)조민,NaN,경리직원 모집,연봉,2800만원 ~ 3200만원,28000000,32000000,경기 파주시,주5일근무,...,NaN,10945,4.148044e+11,경기도 파주시 월롱면 통일로644번길 57,(주)조민,10,27204,202207291906,0,경기도
3,K170052207290063,(유)대광상사,NaN,주류배송 및 거래처 관리직원 모집,연봉,3000만원 ~ 3000만원,30000000,30000000,대전 대덕구,주5일근무,...,NaN,34438,3.023043e+11,대전광역시 대덕구 오정로90번길 32,대광상사,10,624103,202207291906,0,대전광역시
4,K151822207290039,기성,NaN,기존거래처 관리 및 납품직원 모집합니다.,월급,270만원 ~ 290만원,2700000,2900000,경기 파주시,주5일근무,...,NaN,10947,4.148032e+11,경기도 파주시 월롱면 정문로 323-1,윤활유 백화점,10,624103,202207291904,0,경기도
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101869,KJKX002205310001,에이스전자(주),NaN,"[에이스전자] 물류,품질관리 사원모집",연봉,2400만원,24000000,0,경기 용인시 처인구,주5일근무,...,NaN,17060,4.146120e+11,경기도 용인시 처인구 백옥대로 1009,1층 에이스전자,10,28300,202205310906,0,경기도
101870,K162222205310001,유양기술(주),NaN,검사원 모집,연봉,3200만원 ~ 3600만원,32000000,36000000,전남 광양시,주5일근무,...,NaN,545833,4.623047e+11,전라남도 광양시 옥곡면 신금산단1길 29,유양기술주식회사,10,158400,202205310903,0,전라남도
101871,KF10962205310001,구립햇님데이케어어린이집,NaN,조리사모집,월급,191만원 ~ 191만원,1916600,1916600,서울 관악구,주5일근무,...,NaN,8725,1.162031e+11,서울특별시 관악구 성현로 80,110동,10,531203,202205310902,0,서울특별시
101872,KF11202205310001,(주)호텔캠퍼트리,NaN,캠퍼트리 호텔&리조트 룸메이드 모집,월급,191만원 ~ 191만원,1914440,1914440,제주 제주시,주5일근무,...,NaN,63077,5.011048e+11,제주특별자치도 제주시 해안마을서4길 100,호텔캠퍼트리,10,561102,202205310857,0,제주특별자치도
101873,K171222205310001,행복잡고,NaN,국민취업지원제도 직업상담원 채용,월급,220만원 ~ 250만원,2200000,2500000,충북 음성군,주5일근무,...,NaN,27630,4.377032e+11,충청북도 음성군 금왕읍 무극로 213,3층,10,231400,202207210942,0,NaN

In [21]:
df.loc[df.space == '충청북도','ischong'] = 1

In [22]:
df[df.space == "충청북도"]

,구인인증번호,회사명,사업자등록번호,채용제목,임금형태,급여,최소임금액,최대임금액,근무지역,근무형태,...,워크넷 모바일 채용정보 URL,근무지 우편주소,근무지 도로명주소,근무지 기본주소,근무지 상세주소,고용형태코드,직종코드,최종수정일,ischong,space
122,K171112207290074,주식회사경보,NaN,미화 단기 근무자 채용공고(8/1~31),월급,210만원,2100000,0,충북 청주시 서원구,주5일근무,...,NaN,28644,4.311232e+11,충청북도 청주시 서원구 1순환로 776,NaN,20,561101,202207291734,1,충청북도
182,K171222207290017,세명대학교충주한방병원세명의원,NaN,세명대충주한방병원 한약사 모집공고,연봉,4000만원 ~ 4500만원,40000000,45000000,충북 충주시,주6일근무,...,NaN,380080,4.313045e+11,충청북도 충주시 상방4길 63,세명대충주한방병원,10,303000,202207291724,1,충청북도
248,K171222207290016,(주)에스제이환경산업,NaN,"[경영기획팀]회계,재무 직원채용(차장,부장)",연봉,5000만원 ~ 6500만원,50000000,65000000,충북 충주시,주5일근무,...,NaN,27463,4.313045e+11,충청북도 충주시 주덕읍 상전2길 15,NaN,10,27103,202207291713,1,충청북도
259,K171112207290072,(주)씨알엠,NaN,압출성형기 생산직 경력자 및 신입 모집,시급,9700원,9700,0,충북 청주시 청원구,주5일근무,...,NaN,28104,4.311432e+11,충청북도 청주시 청원구 오창읍 두릉유리로 50-2,NaN,10,852202,202207291711,1,충청북도
276,K171112207290070,(주)One복지나라오아시스푸드,NaN,배송직원 모십니다,월급,220만원,2200000,0,충북 청주시 청원구,주5일근무,...,NaN,28310,4.311445e+11,충청북도 청주시 청원구 상리로18번길 56,NaN,10,624103,202207291708,1,충청북도
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101839,K171112205310017,(주)엘에프코리아,NaN,수제만두공장 생산 직원 구합니다.,시급,9160원,9160,0,충북 청주시 흥덕구,주5일근무,...,NaN,28456,4.311345e+11,충청북도 청주시 흥덕구 1순환로386번길 6,NaN,10,873900,202205310935,1,충청북도
101847,K171222205310005,백성흠정형외과,NaN,충주 백성흠 정형외과 물리치료사 채용,월급,230만원 ~ 250만원,2300000,2500000,충북 충주시,주5일근무,...,NaN,27486,4.313032e+11,충청북도 충주시 안림로 50,백성흠정형외과,10,306501,202205310943,1,충청북도
101859,K171252205310005,서울미소치과,NaN,음성읍 신규개원 치과 진료실 모집 (1인1기숙사o...,연봉,2970만원,29700000,0,충북 음성군,주5일근무,...,NaN,27703,4.377032e+11,충청북도 음성군 음성읍 수정로 28,2층,10,306400,202207260901,1,충청북도
101861,K171112205310014,(주)청우종합건축사사무소,NaN,건축설계 채용,연봉,3000만원 ~ 5000만원,30000000,50000000,충북 청주시 흥덕구,주5일근무,...,NaN,361842,4.311332e+11,충청북도 청주시 흥덕구 사운로 190,3층,10,140100,202205310917,1,충청북도
101863,K171252205310004,그레이스 홀딩스 주식회사,NaN,P.C(Precast Concrete) 제품 생산...,연봉,3100만원,31000000,0,충북 음성군,주5일근무,...,NaN,27661,4.377030e+11,충청북도 음성군 대소면 대금로 653-32,GPC(내) 근무,10,28401,202206020902,1,충청북도

In [23]:
df.ischong.unique()

array([0, 1])

In [25]:
data  = df[df.ischong == 1]

TypeError: ignored

In [ ]:
df.ischong[i] = (df['space'] == '충청북도') if 1 else 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
df['space']

array([0], dtype=object)

In [ ]:
df.loc[(df['근무지 기본주소'][0] == '충청북도'),'ischong'] = 1

KeyError: ignored

In [ ]:
df.ischong

0        False
1        False
2        False
3        False
4        False
         ...
21584    False
21585    False
21586    False
21587    False
21588    False
Name: ischong, Length: 21589, dtype: bool